
@{
    ViewBag.Title = "Index";
}

<h2>Appointments and Status</h2>
<div class="container">
    <img src="~/Images/calendar.jpg" />
    <br />

    @Html.ActionLink("Create an appointment", "Create", "Appointments", new { area = "" }, new { @class = "navbar-brand" })
</div>
 <div class="container">
 <img src="~/Images/calendar2.jpg" />
    <br />
    @Html.ActionLink("View Status", "ViewStatus", "AppointmentHome", new { area = "" }, new { @class = "navbar-brand" })
    @if (Session["PatientCode"] != null)
    {

    }
</div>



